<!-- Start Hero Section -->

<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
	<div class="container">
		<div class="row">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">Được chế tạo bằng vật liệu tuyệt vời.</h2>
				<p class="mb-4">Nội thất Furni: Đa dạng phong cách, nâng tầm không gian sống của bạn. </p>
				<p><a href="shop.html" class="btn">Khám phá</a></p>
			</div>
			<!-- End Column 1 -->
			@await Component.InvokeAsync("Product")

		</div>
	</div>
</div>
<!-- End Product Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<h2 class="section-title">Tại sao chọn chúng tôi</h2>
				<p>Chọn Furni vì sự khác biệt: Sản phẩm bền bỉ, phong cách đa dạng, ưu đãi hấp dẫn.</p>

				<div class="row my-5">
					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/images/truck.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Giao hàng nhanh miễn phí</h3>
							<p>Furni: Giao hàng siêu tốc, miễn phí tận nơi. Tiết kiệm thời gian, trải nghiệm mua sắm tuyệt vời!</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/images/bag.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Dễ dàng mua sắm</h3>
							<p>Furni: Mua sắm nội thất trực tuyến dễ dàng, nhanh chóng.Chỉ vài cú click, sở hữu ngay sản phẩm ưng ý.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/images/support.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>24/7 hỗ trợ</h3>
							<p>Furni: Hỗ trợ khách hàng 24/7, mọi lúc mọi nơi. Giải đáp thắc mắc nhanh chóng.</p>
						</div>
					</div>

					<div class="col-6 col-md-6">
						<div class="feature">
							<div class="icon">
								<img src="~/images/return.svg" alt="Image" class="imf-fluid">
							</div>
							<h3>Trả hàng không rắc rối</h3>
							<p>Furni: Trả hàng dễ dàng, nhanh chóng, không thủ tục phức tạp. Mua sắm an tâm tuyệt đối.</p>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="~/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start We Help Section -->
<div class="we-help-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-5 mb-lg-0">
				<div class="imgs-grid">
					<div class="grid grid-1"><img src="~/images/img-grid-1.jpg" alt="Untree.co"></div>
					<div class="grid grid-2"><img src="~/images/img-grid-2.jpg" alt="Untree.co"></div>
					<div class="grid grid-3"><img src="~/images/img-grid-3.jpg" alt="Untree.co"></div>
				</div>
			</div>
			<div class="col-lg-5 ps-lg-5">
				<h2 class="section-title mb-4">Chúng tôi giúp bạn thiết kế nội thất hiện đạin</h2>
				<p>Furni đồng hành cùng bạn kiến tạo không gian sống hiện đại, tinh tế và đầy phong cách. Đội ngũ thiết kế chuyên nghiệp của chúng tôi sẽ biến ý tưởng của bạn thành hiện thực, tạo nên ngôi nhà mơ ước.</p>

				<ul class="list-unstyled custom-list my-4">
					<li>Tối giản, tập trung chức năng, lược bỏ chi tiết thừa.</li>
					<li>Đường nét sắc sảo, hình khối rõ ràng, mạch lạc.</li>
					<li>Vật liệu công nghiệp kết hợp tự nhiên, cân bằng.</li>
					<li>Không gian mở, tận dụng ánh sáng tự nhiên tối đa.</li>
				</ul>
				<p><a asp-action="Index" asp-controller="Blog" class="btn">Khám phá</a></p>
			</div>
		</div>
	</div>
</div>
<!-- End We Help Section -->
<!-- Start Popular Product -->
<div class="popular-product">
	<div class="container">
		<div class="row">

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="~/images/product-1.png" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>Ghế Bắc Âu</h3>
						<p>Vẻ đẹp Bắc Âu: Đường nét thanh lịch, ấm áp, hiện đại. </p>
						<p><a href="#">Đọc thêm</a></p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="~/images/product-2.png" alt="Image" class="img-fluid">
					</div>
					<div class="pt-3">
						<h3>Ghế Kruzo Aero</h3>
						<p>Kruzo Aero: Lựa chọn lý tưởng cho không gian làm việc năng động, thư giãn. </p>
						<p><a href="#">Đọc thêm</a></p>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
				<div class="product-item-sm d-flex">
					<div class="thumbnail">
						<img src="~/images/product-3.png" alt="Image" class="img-fluid">
					</div>	
					<div class="pt-3">
						<h3>Ghế công thái học</h3>
						<p>Ghế công thái học: Thiết kế khoa học, hỗ trợ cột sống, giảm đau mỏi. </p>
						<p><a href="#">Đọc thêm</a></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Popular Product -->
<!-- Start Blog Section -->
<div class="blog-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-6">
				<h2 class="section-title"> Bài viết gần đây</h2>
			</div>
			<div class="col-md-6 text-start text-md-end">
				<a asp-action="Index" asp-controller="Blog" class="more">Xem tất cả bài viết</a>
			</div>
		</div>

		<div class="row">

			@await Component.InvokeAsync("Blog")

		</div>
	</div>
</div>
<!-- End Blog Section -->
