@model IEnumerable<Do_an.Models.TbProduct>
<!-- Start Column 2 -->
@foreach (var item in Model.Take(3))
{
	string sUrl = $"/product/{item.Alias}-{item.ProductId}.html";
	<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
		<a href="@sUrl" class="product-item">
			<img src="@item.Image" class="img-fluid product-thumbnail">
			<h3 class="product-title">@item.Title</h3>
			<strong class="product-price"> @String.Format("{0:N0}", item.Price)₫</strong>

			<span class="icon-cross">
				<img src="~/images/cross.svg" class="img-fluid">
			</span>
		</a>
	</div>
	<!-- End Column 2 -->
}