@model TbContact

	<!-- Start Contact Form -->
	<div class="untree_co-section">
		<div class="container">

			<div class="block">
				<div class="row justify-content-center">


					<div class="col-md-8 col-lg-8 pb-4">
					<div class="mb-5">
						<div class="ratio ratio-16x9">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.110348170114!2d105.69317477501667!3d18.65904358246161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139cddf0bf20f23%3A0x86154b56a284fa6d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBWaW5o!5e0!3m2!1svi!2s!4v1747060524473!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>


						<div class="row mb-5">
							<div class="col-lg-4">
								<div class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
									<div class="service-icon color-1 mb-4">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
											<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
										</svg>
									</div> <!-- /.icon -->
									<div class="service-contents">
										<p>172 Lê Duẩn. Thành phố Vinh, Nghệ An </p>
									</div> <!-- /.service-contents-->
								</div> <!-- /.service -->
							</div>

							<div class="col-lg-4">
								<div class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
									<div class="service-icon color-1 mb-4">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
											<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
										</svg>
									</div> <!-- /.icon -->
									<div class="service-contents">
										<p>letrungkhanh@gmail.com</p>
									</div> <!-- /.service-contents-->
								</div> <!-- /.service -->
							</div>

							<div class="col-lg-4">
								<div class="service no-shadow align-items-center link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
									<div class="service-icon color-1 mb-4">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
										</svg>
									</div> <!-- /.icon -->
									<div class="service-contents">
										<p>0389 999 999</p>
									</div> <!-- /.service-contents-->
								</div> <!-- /.service -->
							</div>
						</div>
					<form method="post" action="/Contact/Create">
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<label class="text-black" for="c_name">Họ tên</label>
									<input type="text" id="c_name" name="Name" class="form-control" required>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<label class="text-black" for="c_phone">Điện thoại</label>
									<input type="text" id="c_phone" name="Phone" class="form-control" required>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="text-black" for="c_email">Địa chỉ Email </label>
							<input type="email" id="c_email" name="Email" class="form-control" required>
						</div>

						<div class="form-group mb-5">
							<label class="text-black" for="c_message">Lời nhắn</label>
							<textarea id="c_message" name="Message" class="form-control" cols="30" rows="5" required></textarea>
						</div>

						<button type="submit" id="c_submit" value="submit" class="btn btn-primary-hover-outline">Gửi lời nhắn</button>
					</form>


					</div>

				</div>

			</div>

		</div>


	</div>


	<!-- End Contact Form -->


@section Scripts {
	<script>
		$(document).ready(function () {
			$("#c_submit").click(function () {
				_name = $("#c_name").val();
				_phone = $("#c_phone").val();
				_email = $("#c_email").val();
				_message = $("#c_message").val();
				$.ajax({
					url: "/Contact/Create",
					type: "POST",
					data: { name: _name, email: _email, message: _message },
					success: function (result) {
						if (result != null) {
							$("#c_name").val("");
							$("#c_phone").val("");
							$("#c_email").val("");
							$("#c_message").val("");
							toastr.success('Gửi thành công');
						}
						else {
							toastr.success('Gửi không thành công');
						}
					}
				})
			});
		})
	</script>
}
