@model IEnumerable<TbBlog>

@foreach (var item in Model)
{
	<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
		<div class="post-entry">
			<a href="#" class="post-thumbnail"><img src="@item.Image" alt="Image" class="img-fluid"></a>
			<div class="post-content-entry">
				<h3><a href="#">@item.Description</a></h3>
				<div class="meta">
					<span>by <a href="#">@item.Detail</a></span> <span>on <a href="#">@item.CreatedDate</a></span>
				</div>
			</div>
		</div>
	</div>
}